include ../includes/head
link(rel="stylesheet" href="/css/article.css")
main
    a(href="/auth/logout") Logout

    h1=`${article.title}`

    p=`Last week’s events in ${article.country} were truly historic, although we may not know for a ${article.unitOfTime[0]}or even a ${article.unitOfTime[1]} what their final meaning is. What’s important, however, is that we focus on what ${article.nouns[0]} means to the average ${article.nouns[1]}. Even if the ${article.adjectives[0]} media seems too caught up in ${article.verbs[0]}ing the overall situation to pay attention to the important effects on daily life. After all, everyone knows ${article.importantFigure} never ${article.verbs[1]}s on a ${article.dayOfTheWeek}.`

    p=`While it's true that the recent ${article.verbs[2]}s in ${article.country} was decidedly ${article.adjectives[1]}, it’s important to remember three things: One, people don’t behave like ${article.nouns[2]}s, so attempts to treat them as such inevitably look foolish. ${article.nouns[3]}s have the same problem. Two, ${article.country} has spent decades being ${article.verbs[3]}ed, so a mindset of ${article.nouns[4]} and ${article.nouns[5]} will seem foreign and strange. And three, ${article.abstractConcept} is an extraordinarily powerful idea.`


    p=`When I was in ${article.country} last ${article.unitOfTime[1]}, I was amazed by the people’s innate ${article.adjectives[2]}. This tells me two things. It tells me that the citizens of ${article.country} have no shortage of ${article.verbs[4]}ing, and that is a good beginning to grow from. Second, it tells me that people in ${article.country} are just like people anywhere else on this great ${article.nouns[6]} of ours.`

    p=`So what should we do about the chaos in ${article.country}? Well, it’s easier to start with what we should not do. We should not under any circumstances ${article.verbs[5]}. Beyond that, we need to be careful to nurture the seeds of ${article.abstractConcept}. The opportunity is there, but I worry that the path to ${article.nouns[7]} is so ${article.adjectives[3]} that ${article.country} will have to move down it very slowly, prudently and moderately.`

    p=`Speaking with a ${article.blueCollarOccupation} on the last day of my recent visit, I asked him if there was any message that he wanted me to carry back home with me to the Land of the Free. He pondered for a second, and then smiled and said, “${article.quote}”. Upon reflection, I think he may have a point.`


    p=`I don’t know what ${article.country} will be like a few years from now, but I do know that it will probably be ${article.adjectives[4]}, even if it ${article.adjectives[5]}. I know this because, through all the ${article.verbs[6]}ing, the people still haven’t lost sight of their ${article.nouns[8]}.`

    include ../includes/footer