include ../includes/head
link(rel="stylesheet" href="/css/siteOpsAndArticles.css")
main
    nav.functionlinks
        a(href="/articles/new") New Article
        a(href="/auth/logout") Logout
        a(href="/auth/edituser") Edit User Info
    -if (user.totalArticles.length) {
    -for (let i=0 ;i < user.totalArticles.length; i++) {
        section.userArticles
            a(href=`/articles/${user.totalArticles[i]._id}`)
                h1=user.totalArticles[i].title
            -if (user.totalArticles[i].isForeign) {
                form.formflex(action=`/articles/foreign/${user.totalArticles[i]._id}`)
                    button.articleIndexButton(type="submit") VIEW ARTICLE 
            -} else {
                form.formflex(action=`/articles/domestic/${user.totalArticles[i]._id}`)
                    button.articleIndexButton(type="submit") VIEW ARTICLE 
            -}
            form.formflex(action=`/articles/${user.totalArticles[i]._id}?_method=DELETE` method="POST")
                button.articleIndexButton(type="submit") DELETE ARTICLE
    -} } else {
        section.userArticles#initialArticle
            a(href="/articles/new")
                h1.newArticleTag Click to Create First Article
    -}
    include ../includes/footer