include ../includes/head
link(rel="stylesheet" href="/css/siteOpsAndForeign.css")
main
    nav.functionlinks
        a(href="/auth/logout") Logout
    form.newarticleform(action=`/articles/${article._id}?_method=PUT` method="POST")
        input#countryId(type="text" name="country" placeholder="Name of Country" value=`${article.country}`)
        input(type="text" name="unitOfTime" placeholder="Unit of Time" value=`${article.unitOfTime[0]}`)
        input(type="text" name="unitOfTime2" placeholder="Larger Unit of Time" value=`${article.unitOfTime[1]}`)
        input(type="text" name="noun" placeholder="Noun" value=`${article.nouns[0]}`)
        input(type="text" name="noun2" placeholder="Noun" value=`${article.nouns[1]}`)
        input(type="text" name="noun3" placeholder="Noun" value=`${article.nouns[2]}`)
        input(type="text" name="noun4" placeholder="Noun" value=`${article.nouns[3]}`)
        input(type="text" name="noun5" placeholder="Noun" value=`${article.nouns[4]}`)
        input(type="text" name="noun6" placeholder="Noun" value=`${article.nouns[5]}`)
        input(type="text" name="noun7" placeholder="Noun" value=`${article.nouns[6]}`)
        input(type="text" name="noun8" placeholder="Noun" value=`${article.nouns[7]}`)
        input(type="text" name="adjective" placeholder="Adjective" value=`${article.adjectives[0]}`)
        input(type="text" name="adjective2" placeholder="Adjective" value=`${article.adjectives[1]}`)
        input(type="text" name="adjective3" placeholder="Adjective" value=`${article.adjectives[2]}`)
        input(type="text" name="adjective4" placeholder="Adjective" value=`${article.adjectives[3]}`)
        input(type="text" name="adjective5" placeholder="Adjective" value=`${article.adjectives[4]}`)
        input(type="text" name="adjective6" placeholder="Adjective" value=`${article.adjectives[5]}`)
        input(type="text" name="verb" placeholder="Verb" value=`${article.verbs[0]}`)
        input(type="text" name="verb2" placeholder="Verb" value=`${article.verbs[1]}`)
        input(type="text" name="verb3" placeholder="Verb" value=`${article.verbs[2]}`)
        input(type="text" name="verb4" placeholder="Verb" value=`${article.verbs[3]}`)
        input(type="text" name="verb5" placeholder="Verb" value=`${article.verbs[4]}`)
        input(type="text" name="verb6" placeholder="Verb" value=`${article.verbs[5]}`)
        input(type="text" name="verb7" placeholder="Verb" value=`${article.verbs[6]}`)
        input(type="text" name="importantFigure" placeholder="Celebrity/World Figure" value=`${article.importantFigure}`)
        input(type="text" name="abstractConcept" placeholder="Abstract Concept" value=`${article.abstractConcept}`)
        input(type="text" name="dayOfTheWeek" placeholder="Day of the Week" value=`${article.dayOfTheWeek}`)
        input(type="text" name="blueCollarOccupation" placeholder="Member of a Blue Collar Occupation" value=`${article.blueCollarOccupation}`)
        input(type="text" name="quote" placeholder="Inspirational Quote" value=`${article.quote}`)
        input(type="text" name="title" placeholder="Title of Article" value=`${article.title}`)
        button.bottombutton(type="submit") CREATE NEW ARTICLE
    include ../includes/footer